<div class="brand-wrapper">

    <div class="carousel">

        <!-- LEFT -->
        <button class="nav left" (click)="prev()">‹</button>

        <!-- VIEWPORT -->
        <div class="viewport" #viewport>

            <div class="inner" #track>

                <a class="item" *ngFor="let b of brands; let i = index" [href]="b.link" target="_blank"
                    rel="noopener noreferrer" (click)="setActive(i)">

                    <div class="logo-box">
                        <img [src]="b.logo" [alt]="b.name" loading="lazy" />
                    </div>

                    <span class="brand-name">{{ b.name }}</span>

                </a>

            </div>

        </div>

        <!-- RIGHT -->
        <button class="nav right" (click)="next()">›</button>

    </div>

</div>