<div class="brand-wrapper">

    <!-- TITLE -->
    <div class="title">
        <h2>Trusted Global Brands</h2>
        <p>We work with world-class partners</p>
    </div>

    <!-- CAROUSEL -->
    <div class="carousel">

        <button class="nav left" (click)="prev()">‹</button>

        <div class="track" [style.transform]="getTransform()">

            <div class="item" *ngFor="let b of brands; let i = index" [class.active]="i === currentIndex"
                (click)="goTo(i)">

                <div class="logo-box">
                    <img [src]="b.logo" [alt]="b.name" />
                </div>

                <span>{{ b.name }}</span>

            </div>

        </div>

        <button class="nav right" (click)="next()">›</button>

    </div>

    <!-- DOTS -->
    <div class="dots">
        <span *ngFor="let b of brands; let i = index" (click)="goTo(i)" [class.active]="i === currentIndex">
        </span>
    </div>

</div>